# Hands-On Data Preprocessing in Python
Learn how to effectively prepare data for successful data analytics
    
    AUTHOR: Dr. Roy Jafari 

### Chapter 1: Review of the core modules NumPy, Pandas, and Matplotlib

Hello World! This is a Markdown chunk!

In [1]:
print('Hello World! This is Code Chunk!')

Hello World! This is Code Chunk!

In [2]:
import numpy as np

In [3]:
lst_nums = [2,5,7,11,13,17,23,31,37,41,43,47]
np.mean(lst_nums)

np.float64(23.083333333333332)

In [6]:
lst_nums = [2,5,7,11,13,17,23,31,37,41,43,47]
ary_nums = np.array(lst_nums)
ary_nums.mean()

np.float64(23.083333333333332)

In [4]:
type(lst_nums)

list

In [7]:
type(ary_nums)

numpy.ndarray

In [8]:
np.arange(15)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [9]:
np.arange(5,15)

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [ ]:
np.arange(-7.1,7)

In [ ]:
np.zeros([4,5])

In [ ]:
np.ones(7)

Example #1

The following is the grade data of ten students. Create a code using NumPy that calcuate and report their grade average. 

    Names = ['Jevon', 'Dawn', 'Kayleigh', 'Jadene', 'Kennedy', 'Kaydee', 'Ansh', 'Flynn', 'Kier', 'Clarence']
    Math_grades = [80, 50, 60, 70, 60, 100, 70, 70, 60, 70]
    Science_grades = [90, 80, 50, 50, 60, 50, 90, 70, 80, 80]
    History_grades = [60, 90, 50, 90, 100, 100, 100, 100, 90, 70]

In [ ]:
Names = ['Jevon', 'Dawn', 'Kayleigh', 'Jadene', 'Kennedy', 'Kaydee', 
         'Ansh', 'Flynn', 'Kier', 'Clarence']
Math_grades = [80, 50, 60, 70, 60, 100, 70, 70, 60, 70]
Science_grades = [90, 80, 50, 50, 60, 50, 90, 70, 80, 80]
History_grades = [60, 90, 50, 90, 100, 100, 100, 100, 90, 70]

In [ ]:
Average_grades = np.zeros(10)
print(Average_grades)

for i, name in enumerate(Names):
    Average_grades[i] = np.mean([Math_grades[i],Science_grades[i],
                                 History_grades[i]])

print(Average_grades)

In [ ]:
# better-looking report

for i, name in enumerate(Names):
    print("Average for {} : {}".format(name,Average_grades[i]))

In [ ]:
np.linspace(0,1,21)

In [ ]:
np.linspace(10,1000,100)

Example 2

We are interested in finding the value(s) that holds the following mathematical statement.

    x^2-5x+6=0

And imagine that we donâ€™t know that the statement can be simplified easily to find either -1 or +1 will hold the statement.  
    
    x^2-5x+6=(x-2)(x-3)

so we would like to use NumPy to try out any values between -100 and 100 and see what the answer is.

In [ ]:
Candidates = np.linspace(-1000,1000,2001)
#print(Candidates)

for candidate in Candidates:
    if(candidate**2 - 5*candidate +6 ==0):
        print("Just found a possible answer: {}".format(candidate))

# Adult Dataset 

"Census Income" dataset.

Number of Instances: 48842
Number of Attributes: 14
Date Donated: 1996-05-01
Missing Values?: Yes

### Attributes:

Number of Attributes: 6 continuous, 8 nominal attributes

- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
- class: >50K, <=50K

In [ ]:
import pandas as pd

adult_df = pd.read_csv('adult.csv')
adult_df.head()

In [ ]:
type(adult_df.age)

In [ ]:
type(adult_df)

In [ ]:
adult_df.loc[0].index

In [ ]:
adult_df.age.index

In [ ]:
adult_df.set_index(np.arange(10000,42561),inplace=True)

In [ ]:
adult_df.set_index(np.arange(10000,42561))

In [ ]:
adult_df.education-num

In [ ]:
adult_df.iloc[2].loc['education']

In [ ]:
adult_df.education.loc[10002]

In [ ]:
adult_df['education'].iloc[2]

In [ ]:
adult_df.at[10002,'education']

In [ ]:
row_series = adult_df.loc[10002]
print(row_series.loc['education'])
print(row_series.iloc[3])
print(row_series['education'])
print(row_series.education)

In [ ]:
columns_series = adult_df.education
print(columns_series.loc[10002])
print(columns_series.iloc[2])
print(columns_series[10002])
# print(row_series.10002)  This will give syntax error!

# Slicing

In [ ]:
my_array = np.array([[2,3,5,7],[11,13,17,19],
                     [23,29,31,37,], [41,43,47,49]])
my_array

In [ ]:
my_array[1,1]

In [ ]:
my_array[1,:]

In [ ]:
my_array[:,1]

In [ ]:
my_array

In [ ]:
my_array[1:3,:]

In [ ]:
my_array[1:3,0:2]

In [ ]:
my_array[1:3,[0,2]]

In [ ]:
adult_df.loc[:,'education':'occupation']

In [ ]:
adult_df.sort_values('education-num').reset_index().iloc[1:32561:3617]

# Boolean Masking

In [ ]:
twopowers_sr = pd.Series([1,2,4,8,16,32,64,128,256,512,1024])
BM = [False,False,False,True,False,False,False,True,True,True,True]
twopowers_sr[BM]

In [ ]:
twopowers_sr >=500

In [ ]:
BM = twopowers_sr >=500
twopowers_sr[BM]

In [ ]:
twopowers_sr[twopowers_sr >=500]

In [ ]:
BM = adult_df.education == 'Preschool'
print('Mean: {}'.format(np.mean(adult_df[BM].age)))
print('Median: {}'.format(np.median(adult_df[BM].age)))

In [ ]:
BM1 = adult_df['education-num'] > 10
BM2 = adult_df['education-num'] < 10

print('More than 10 years of education - Capital Gain: {}'
      .format(np.mean(adult_df[BM1].capitalGain)))
print('Less than 10 years of education - Capital Gain: {}'
      .format(np.mean(adult_df[BM2].capitalGain)))

# Get to know a dataset

In [ ]:
adult_df.shape

In [ ]:
adult_df.columns

In [ ]:
adult_df.columns = ['age', 'workclass', 'fnlwgt', 'education', 
                    'education_num', 'marital_status', 'occupation',
                    'relationship', 'race', 'sex', 'capitalGain',
                    'capitalLoss', 'hoursPerWeek', 'nativeCountry',
                    'income']

In [ ]:
adult_df.describe()

In [ ]:
adult_df.age.plot.hist()

In [ ]:
adult_df.relationship.unique()

In [ ]:
adult_df.relationship.value_counts()

In [ ]:
adult_df.relationship.value_counts().plot.bar()

# Appy a function

In [ ]:
def MultiplyBy2(n):
    return n*2

adult_df.age.apply(MultiplyBy2)

### Applying a Function - Analytic Example 1
Divide every value in column fnlwgt by the sum of all its values.

In [ ]:
total_fnlwgt = adult_df.fnlwgt.sum()

def CalculatePercentage(v):
    return v/total_fnlwgt*100

adult_df.fnlwgt = adult_df.fnlwgt.apply(CalculatePercentage)
adult_df

In [ ]:
total_fnlwgt = adult_df.fnlwgt.sum()

adult_df.fnlwgt = adult_df.fnlwgt.apply(lambda v: v/total_fnlwgt*100)
adult_df

In [ ]:
def CalcLifeNoEd(row):
    return row.age - row.education_num

adult_df.apply(CalcLifeNoEd,axis=1)

In [ ]:
adult_df.apply(lambda r: r.age-r.education_num,axis=1)

In [ ]:
adult_df['lifeNoEd'] = adult_df.apply(
    lambda r: r.age-r.education_num,axis=1)

adult_df['capitalNet'] = adult_df.apply(
    lambda r: r.capitalGain - r.capitalLoss,axis=1)

adult_df[['education_num','lifeNoEd','capitalNet']].corr()

# Groupby

In [ ]:
adult_df.groupby(['marital_status','sex']).age.median()

In [ ]:
adult_df.groupby(['race','sex']).capitalNet.mean()

In [ ]:
grb_result =adult_df.groupby(['race','sex']).capitalNet.mean()

print(grb_result.index)

In [ ]:
grb_result =adult_df.groupby(['race','sex']).capitalNet.mean()
grb_result

In [ ]:
grb_result.unstack()

In [ ]:
mlt_seris =adult_df.groupby(['race','sex','income']).fnlwgt.mean()
mlt_seris

In [ ]:
mlt_seris.unstack()

In [ ]:
mlt_seris.unstack().unstack()

In [ ]:
mlt_df= mlt_seris.unstack().unstack()
mlt_df.columns

In [ ]:
mlt_df.stack()

In [ ]:
mlt_df.stack().stack()

# Pivot & Melt

In [ ]:
wide_df = pd.read_csv('wide.csv')
wide_df

In [ ]:
wide_df.melt(id_vars='ReadingDateTime',
             value_vars=['NO','NO2','NOX','PM10','PM2.5'],
             var_name='Species',
             value_name='Value')

In [ ]:
long_df = pd.read_csv('long.csv')
long_df

In [ ]:
long_df.pivot(index='ReadingDateTime',
              columns='Species',
              values='Value')